/.env
/.env.*
!/.env.example
/routes.conf
/cloudflared/config.yml
/cloudflared/*.json
/cloudflared/*.pem
/.cloudflared/
/secrets/*
!/secrets/.gitkeep
/tunnel.json
/????????-????-????-????-????????????.json
/cert.pem
.DS_Store
.idea/
